<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css" />
    {% block head %} {%endblock%}
    <title>Fire Map</title>
</head>
<body {% block body %}{% endblock%}>
    <div class="container">
        <div id="top-section">
            <p>
                <h1><a href="/"><strong>DEMO</strong>: Azure Functions Fire Map</a></h1>
            </p>
        </div>
        {% block content %}{% endblock %}
        
        <blockquote>
            <h3>License and Usage</h3>
            <p>Warning This is for education/demo/noncommercial purposes only and should not be used for fire prevention/avoidance.</p>
        </blockquote>
    </div>
    <div>
        <p>Repo: https://github.com/kjaymiller/fire-map</p>
    </div>
</body>
</html>
