{% extends 'base.html' %}
    {% block head %}
    <link rel="stylesheet" href="https://atlas.microsoft.com/sdk/javascript/mapcontrol/2/atlas.min.css" type="text/css">
    <script src="https://atlas.microsoft.com/sdk/javascript/mapcontrol/2/atlas.min.js"></script>
    <script type="text/javascript">
        function InitMap()
        {
            var map = new atlas.Map('myMap', {
                center: [{{base_point[0]}}, {{base_point[1]}}],
                zoom: 7,
                language: 'en-US',
                authOptions: {
                    authType: 'subscriptionKey',
                    subscriptionKey: 'KbOJ2lKbSHUs1svkMz6kXfiDRBXRZ9WXyXJeU4YKPHg'
                }
            });
            map.events.add('ready', function() {
                var source = new atlas.source.DataSource();
                source.add({{points | tojson}})
                map.sources.add(source);
                map.layers.add(new atlas.layer.SymbolLayer(source, null));
            })
       }
    </script>
    {% endblock %}
    {% block body %}onload="InitMap()"{% endblock %}
    {% block content %}
    <div>
        <h2>Results for <strong>{{ query }}</strong></h2>
    </div>
    <div id="myMap" style="width: 100%; height: 500px"></div>
    
    <div>
        <h2>Details</h2>
        <p> There are <strong>{{fire_details['fire_count']}}</strong> fires within <em>{{request.query_params['distance']}} meters</em> from <strong>{{query}}</strong>.</p>
        {% if fire_details['closest'] %}
        <p>The Closest Fire is {{fire_details['closest']['distance'] | round }} meters at:</p>
        <ui>
            <li>
                latitude:{{fire_details['closest']['geometry']['coordinates'][1]}}
            </li>
            <li>
                longitude:{{fire_details['closest']['geometry']['coordinates'][0]}}
            </li>
        </ui>
        {% endif %}
    </div>
    <div>
        <p>
            {% include "form.html" %}
        </p>
    </div>
    {% endblock %}